{% extends 'layout_home.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    {% for message in app.flashes('errors') %}
        <div>{{ message }}</div>
    {% endfor %}
    <h1>Reset Password</h1>

    <div class="reset">
       {{ form_start(form) }}
       {{ form_errors(form) }}
        <div class="col-reg-1">
        
                    {{ form_row(form.newPassword) }}
                    {{ form_row(form.confirmPassword) }}
                   
                    <button type="submit" class="btn">Set Password</button>
        </div>            
      
            
        {{ form_end(form) }}

    </div>
    

    
{% endblock %}

