{% extends 'layout_boxed.html.twig' %}

{% block content %}
<div class="row mt-3">
    <div class="col">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="searchKudos">
    
    <form action="{{ path('app_dashboard') }}" method="GET">
            <i class=" order bi bi-arrow-down-up"></i>
        <input type="text" name="q" value="{{ app.request.query.get('q') }}" placeholder="Search for a kudos...">
        <button type="submit"><i class="bi bi-search"></i></button>
    </form>
</div>

{% for kudo in kudos %}
<div class="card mt-3" style="width: auto;">
    
   <div class="card-body">
    <div class="d-flex align-items-center mb-2">
        <img src="{{  asset('kudo.profilePic') }}" 
             alt="{{ kudo.sender.firstName }}"
             class="rounded-circle me-2"
             style="width: 40px; height: 40px; object-fit: cover;">
             <div>
                <h5 class="card-sender"><strong>{{ kudo.sender.firstName }} {{ kudo.sender.lastName }}</strong></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">@{{ kudo.sender.username }}</h6>
             </div>
    
    
    </div>
     
    
    <h7 class="card-receiver">To <strong>{{ kudo.receiver.firstName }} {{ kudo.receiver.lastName }}</strong></h7>

    <p class="card-text">{{ kudo.msgContent }}</p>
    <div class="row">
        <div class="stamp d-flex justify-content-between align-items-center">
            <div class="day">{{ kudo.createdAt|date('l') }}</div>
            <div class="dateHour">{{ kudo.createdAt|date('d.m h:m') }}</div>
    </div>
  </div>
    </div>
</div>
{% endfor %}

{% endblock %}


 
    
       
 

    
