{% extends 'layout_boxed.html.twig' %}

{% block content %}
<div class="row mt-3">
    <div class="col">
        <h1>Dashboard/Feed</h1>
    </div>
</div>

{% for kudo in kudos %}
<div class="card mt-3" style="width: auto;">
    
   <div class="card-body">
    
    <h5 class="card-sender"><strong>{{ kudo.sender.firstName }} {{ kudo.sender.lastName }}</strong></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">@{{ kudo.sender.username }}</h6>
    <h7 class="card-receiver">To <strong>{{ kudo.receiver.firstName }} {{ kudo.receiver.lastName }}</strong></h7>

    <p class="card-text">{{ kudo.msgContent }}</p>
    <div class="row">
        <div class="stamp d-flex justify-content-between align-items-center">
            <div class="day">{{ kudo.createdAt|date('l') }}</div>
            <div class="dateHour">{{ kudo.createdAt|date('d.m h:m') }}</div>
    </div>
  </div>
    </div>
</div>
{% endfor %}

{% endblock %}


 
    
       
 

    
